<a href="https://colab.research.google.com/github/Yewon9/PythonProgramming_SCH/blob/main/Python_Programming_Ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

프로그램 제어문 : if문 (조건문)

In [1]:
a = 15
if a > 10:
  print("하하")
if a > 20:
  print("하하")     #print 안 됨

하하

In [2]:
a = 15
if a > 20:
  print("하하")
else:
  print("haha")

haha

In [4]:
a = 15
if a > 20:
  print("하하")
elif a > 10:
  print("haha")
elif a > 5:
  print("^^")
else:
  pass

haha

In [8]:
a = 15
b = 30
if a > 30:
  print("하하")
  if b > 30:
    print("haha")
  else:
    print("^^")

자료형의 참/거짓

In [9]:
if True:
  print("참")
a = 15
if a:
  print("참")
if []:
  print("참")     #print 안 됨
a = "abcd"
if a:
  print("참")

참
참
참

연산자

In [10]:
a = 3
b = 5.0
a < b     #False
a < b     #True
b == 5     #True
a != 3     #False
a >= 3     #True
b <= 6     #True

True

In [11]:
a = 1
b = 2
a + b     #3
a += 1     #a = 2
b *= 3     #b = 6
b /= a     #b = 3.0
b %= 2     #b = 1.0
b //= 2     #b = 0.0

In [12]:
a = 3
a == 3     #True

True

In [13]:
a = 3
b = 5
a == 3 and b == 5     #True
a == 5 or b == 5     #True
not a == 3     #False
not a == 3 and b == 5     #False

False

In [14]:
a = "abc"
a == "abc"     #True
a < "abd"     #True
a <= "abcd"     #True
a < "abc "     #True
'a' in a and 'c' in a     #True
'ab' not in a     #False

False

In [15]:
c = [4, 5, 6]
b = 5
b in c     #True
b not in c     #False
b is c[1]     #True

True

In [16]:
b is not c[1]     #False
c is [4, 5, 6]     #False
c == [4, 5, 6]     #True

True

In [ ]:
a = "123"
b = 123
a == b     #Error

In [18]:
3 + 5 * 3     #18
3 - 5 / 5 + 7     #9.0
3 - 4 / (5 + 3)     #2.5
10 / 5 == 4 / 2     #True
10 / (5 == 5) / 2     #5.0
3 ** 2 * 3     #27
3 * 2 ** 3     #24
2 / 5 % 3     #0.4
2 / 5 // 3     #0.0

0.0

In [21]:
"aa" + "bb"     #'aabb'
"aa" < "ab"     #True
"aaaa" < "ab"     #True
"ab" < "aba"     #True
"ab" * 3     #'ababab'
"ab" * 3 - 1     #TypeError
"ab" * (3 - 1)     #'abab'
{"a" : 123, "b" : 456} + {"c" : 789}     #TypeError
{"a" : 123, "b" : 456} < {"c" : 789}     #TypeError

TypeError: ignored

In [23]:
[a, b] = ['123', '345']     #a = '123', b = '345'
a, b = b, a     #a = '345', b = '123'
[a, (b, c)] = [123, (456, 789)]     #a = 123, b = 456, c = 789
[123, (456, 789)] = [a, (b, c)]     #SyntaxError
a = b = c = 1     #a = 1, b = 1, c = 1
a = (b, c) = (123, 456)     #a = (123, 456), b = 123, c = 456

SyntaxError: ignored

연산자 : 비트(bit) 연산자

In [24]:
a = 3
b = 5
print(bin(a))     #'0b11'
bin(b)     #'0b101'
a & b     #1
bin(a & b)     #'0b1'
bin(a | b)     #'0b111'
bin(a ^ b)     #'0b110'
bin(~a)     #'-0b100'

0b11

'-0b100'

In [26]:
bin(a << 2)     #'0b1100'
bin(b >> 1)     #'0b10'
bin(b >> 5)     #'0b0'
"{:08b}".format(a)     #'00000011'
"{:08b}".format(b)     #'00000101'
"{:08b}".format(a + b)     #'00001000'

'00001000'