<a href="https://colab.research.google.com/github/Yewon9/PythonProgramming_SCH/blob/main/Python%20Programming%20Ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

함수

In [1]:
def two_times_table():
  for x in range(1, 10):
    print(2 * x)

two_times_table()

2
4
6
8
10
12
14
16
18

In [2]:
def times_table(num):
  for x in range(1, 10):
    print(num * x)
  
times_table(3)

3
6
9
12
15
18
21
24
27

In [3]:
def summation(a, b):
  return a + b

r = summation(3, 5)
print(r)

8

In [4]:
def summation(a, b):
  print(a + b)

summation(3, 5)

8

In [5]:
def times_table(num):
  tab = []
  for x in range(1, 10):
    tab += [num * x]
  return tab

result = times_table(3)
print(result[2])

9

In [6]:
def times_table(num = 2):
  tab = []
  for x in range(1, 10):
    tab += [num * x]
  if num % 2 == 0:
    return "짝수는 안해"
  return tab

result = times_table()
print(result[2])
result = times_table(3)
print(result[2])

는
9

In [7]:
def summation(a = 1, b):
  return a + b

print(summation(3))

SyntaxError: ignored

In [8]:
def summation(a, b = 1):
  return a + b

print(summation(3))

4

In [9]:
def print_summation(a, b = 1, c = 1):
  print((a + b) * c)

print_summation(1, 1, 1)
print_summation(1)
print_summation(1, 3)

2
2
4

In [10]:
def summation(a = 2, b = 1):
  return a + b

print(summation())
print(summation(3))
print(summation(b = 3))

3
4
5

함수 콜, 리턴값 개념 정리

In [11]:
def getSum(a, b):
  return a + b

getSum(3, 5)
print(getSum(3, 5))

8

In [12]:
def printSum(a, b):
  print(a + b)

printSum(2, 3)
k = printSum(2, 3)
print(k)

5
5
None

내장 함수들

In [13]:
a = input()
a
a = input()
a
a = input('나이 입력 :')
a
a = input()
a

파이썬 안녕
123
나이 입력 :30

''

In [15]:
a = 123
print(a)
a = '123'
a     #'123'
print(a)
a = [1, 2, 3]
print(a)
print('파이썬', '좋아', 123)
print('파이썬', '좋아', end = 'END')

123
123
[1, 2, 3]
파이썬 좋아 123
파이썬 좋아END

In [17]:
a = "happy"
a.count('a')     #1
a.find('p')     #2
a.find('')     #0
a.find('z')     #-1
a.index('p')     #2
print(a)
a.index('z')     #ValueError
a = ','
a.join('happy')     #'h,a,p,p,y'
' '.join('happy')     #'h a p p y'

happy

ValueError: ignored

In [20]:
a = "happy"
a.upper()     #'HAPPY'
'HAPPY'.lower()     #'happy'
a = '  happy  '
a.lstrip()     #'happy  '
a.rstrip()     #'  happy'
a.strip()     #'happy'
a.replace('p', 'b')     #'habby'
a = "hey hey"
a.split()     #['hey', 'hey']
a.split('e')     #['h', 'y h', 'y']

['h', 'y h', 'y']

In [23]:
"파이썬 {} 최고".format(3)     #'파이썬 3 최고'
"{{파이썬}} {}와 {}은 다르다".format(2, 3)     #'{파이썬} 2와 3은 다르다'
"파이썬 {1}과 {0}는 다르다".format(2, 3)     #'파이썬 3과 2는 다르다'
"파이썬 {number3}과 {number2}는 다르다".format(number2 = 2, number3 = 3)     #'파이썬 3과 2는 다르다'
"{0:<10}!".format("안녕")     #'안녕        !'
"{0:>10}!".format("안녕")     #'        안녕!'
"{0:^10}!".format("안녕")     #'    안녕    !'
"{0:*^10}!".format("안녕")     #'****안녕****!'
pi = 3.141592
"{0}".format(pi)     #'3.141592'
"{0:0.4}".format(pi)     #'3.141'
"{0:0.4f}".format(pi)     #'3.1415'

'3.1416'

In [25]:
a = [1, 4, 3]
a.append(2)     #a = [1, 4, 3, 2]
a.sort()     #a = [1, 2, 3, 4]
a = ['cc', 'b', 'c']
a.sort()     #a = ['b', 'c', 'cc']
a.reverse()     #a = ['cc', 'c', 'b']
a.index('c')     #1
a.index('aa')     #ValueError
a.insert(0, 'ccc')     #a = ['ccc', 'cc', 'c', 'b']
a.insert(1, 'b')     #a = ['ccc', 'b', 'cc', 'c', 'b']
a.remove('b')     #a = ['ccc', 'cc', 'c', 'b']

ValueError: ignored

In [28]:
a.remove('a')     #ValueError
a.pop()     #'b'
a     #['ccc', 'cc', 'c']
a.pop(1)     #'cc'
a     #['ccc', 'c']
a.count('c')     #1
a.extend(['aaa', 'a'])     #a = ['ccc', 'c', 'aaa', 'a']
len(a)     #4
a = []
a.pop()     #IndexError

ValueError: ignored

In [30]:
abs(1)     #1
abs(-5)     #5
enumerate(['I', 'like', 'you'])
for num, world in enumerate(['I', 'like', 'you']):
  print(num, world)
int('3')     #3
int(3.1415)     #3
int('11', 2)     #3

0 I
1 like
2 you

3

In [34]:
hex(16)     #'0x10'
oct(16)     #'0o20'
pow(2, 3)     #8
list(range(5))     #[0, 1, 2, 3, 4]
list(range(1, 5))     #[1, 2, 3, 4]
list(range(1, 5, 2))     #[1, 3]
divmod(7, 3)     #(2, 1)
divmod(7.1, 3)     #(2.0, 1.0999999999999996)

(2.0, 1.0999999999999996)

In [35]:
def sum(a, b): return a + b
sum(1, 3)

4

In [36]:
sum = lambda a, b: a + b
sum(1, 3)

4

In [38]:
def sum(a, b): return a + b
lamsum = lambda a, b: a + b
a = [lamsum, lamsum, sum, sum]
a[0]     #<function<lambda> at 0x7f7005bf3c80>
a[1]     #<function<lambda> at 0x7f7005bf3c80>
a[2]     #<function sum at 0x7f7005c47bf8>
a[3]     #<function sum at 0x7f7005c47bf8>
a[0](3, 5)     #8
a[3](5, -1)     #4

4

In [39]:
all([1, 2, "bed"])     #True
all([-5, (), 30])     #False
any([0, ""])     #False
any([-5, (), 30])     #True
chr(97)     #'a'
ord('a')     #97
len("abc")     #3
len([1, 2, 3])     #3
max([1, 2, 3, 5])     #5
max("python")     #'y'

'y'

In [41]:
min([1, 2, 3, 5])     #1
min("python")     #'h'
str(5)     #'5'
str('py')     #'py'
tuple([1, 2])     #(1, 2)
eval('1 + 2')     #3
eval('"hi" + "python"')     #hipython
eval('len("ab")')     #2

2

디버깅 : pdb

In [42]:
nums = [1, 2, "3"]
for x in nums:
  print(x + 2)

3
4

TypeError: ignored

In [ ]:
import pdb
nums = [1, 2, "3"]
for x in nums:
  pdb.set_trace()
  print(x + 2)

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.7/bdb.py", line 332, in set_trace
    sys.settrace(self.trace_dispatch)

> <ipython-input-43-826023f29a66>(5)<module>()
-> print(x + 2)
--KeyboardInterrupt--
--KeyboardInterrupt--